# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
/logs
*.log

# Coverage directory used by tools like istanbul
coverage

# dotenv environment variables file
.env

# macOS
.DS_Store