---
import BaseHead from "components/BaseHead.astro";
import Header from "components/Header.tsx";
import Footer from "components/Footer.tsx";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <BaseHead title={title} description={description} />
</head>
<body class="min-h-screen grid grid-rows-[auto_1fr_auto] dark:text-slate-200 dark:bg-slate-700">
  <Header />
  <main class="mt-5 w-[980px] max-w-full mx-auto px-5">
    <slot />
  </main>
  <Footer />
</body>
</html>